<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mserve_robot">

  <!-- Include the core robot definition -->
  <xacro:include filename="mserve_core.xacro"/>

  <!-- Include Gazebo-specific simulation tuning -->
  <xacro:include filename="mserve_gazebo.xacro"/>
  
</robot>
